<div id="students-show">
	<h2><%= @student.first_name%> <%= @student.last_name%></h2>
	<div class="row">
		<div class="col-md-4">
				<div class="students-show-left">
					<%= image_tag(@student.imagePath) %>
				</div>
		</div>
		<div class="col-md-8">
				<div class="students-show-right">
					<ul>
						<li><strong>First Name: </strong><%= @student.first_name %></li>
						<li><strong>Last Name: </strong><%= @student.last_name %></li>
						<li><strong>Reg Number: </strong><%= @student.reg_number %></li>
						<li><strong>Department: </strong><%= @student.department.name %></li>
						<li><strong>Level:</strong><%= @student.level.level %></li>
						<li><strong>Email: </strong><%= @student.email %></li>
						<li><strong>Telephone: </strong><%= @student.telephone %></li>
						<!--<li><strong>ID/Passport: </strong><%= @student.email %></li>-->
						
						<li><strong>Birth date: </strong><%= @student.dob%></li>
						<li><strong>Father's Name:</strong><%= @student.father_name%></li>
						<li><strong>Mother's Name:</strong> <%= @student.mother_name%></li>
					</ul>
				</div>
		</div>
		<%= link_to 'Edit', edit_student_path(@student.id),class:'btn btn-primary'%> | <%= link_to 'Delete', root_path, method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-danger'%>
	</div>


	 
</div>
<!--

<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Reg. number</th>
		<th>Email</th>
		<th>Telephone</th>
		<th>Department</th>
		<th>Level</th>
		<th>Birth Date</th>
		<th>Father Name</th>
		<th>Mother Name</th>
		<th>Action</th>
	</tr>
	<tr>
		<td><%= @student.first_name %> <%= @student.last_name %></td>
		<td><%= @student.reg_number %></td>
		<td><%= @student.email %></td>
		<td><%= @student.telephone %></td>
		<td><%= @student.department.name %></td>
		<td><%= @student.level.level %></td>
		<td><%= @student.dob%></td>
		<td><%= @student.father_name%></td>
		<td><%= @student.mother_name%></td>
		<td><%= link_to 'Edit', edit_student_path(1),class:'btn btn-primary'%> | <%= link_to 'Delete', student_path(1), method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-danger'%></td>
	</tr>
</table>
-->
